*{
    margin:0;
    padding:0;
    font-family: sans-serif;
}
.container{
    height:100vh;
    width:100%;
    background-image:url('https://i.pinimg.com/564x/3e/86/54/3e8654866d9c56259b616ea9cbbff2fc.jpg');
    background-size:cover;
    background-position:center;
    position:relative;
}

.logo{
    text-align: center;
    margin-right:auto;
}
.navbar{
    width:88%;
    margin:auto;
    padding:15px 0;
    display:flex;
   /* align-items:center; */ 
    justify-content:flex;

}
.logo{
    width:143px;
    cursor:pointer;
    height:135px;

}
.navbar ul li{
    list-style:none;
    display:inline-block;
    margin:0 15px;
}

.navbar ul li a{
    text-decoration: none;
    color:#CD5C5C;
    font-size:15px;
}
.content{
    width:100%;
    position:absolute;
    top:30%;
}
.left-col h1{
    font-size:25x;
    color:#fff;
    line-height:110px;
    float:left;
   
}
.right-col{
    float:right;
    margin-right:6%;
    margin-top:120px;
    display:flex;
    align-items:center;
}

.right-col p{
    font-size:18px;
    color:#5f5f5f;
    font-weight:400;
    margin-right:15px; 
    cursor:pointer;
} 
#icon{
    width:80px;
    cursor:pointer;
}

