* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  background-color: #c69bfe;
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fondamento:ital@0;1&display=swap');

:root{
    --main-color: #872fdf;
    --second-color: #d098ee;
}
nav{
    background-color:var(--main-color);
    box-shadow: 3px 2px 2px rgba(0, 0, 0, 0.854);
    justify-content: center;
    display: flex;
    padding: 10px;
    width: 100vw;
    font-size: 20px;
    color: #f0f0f0;
    z-index: 1;
  }

  nav ul{
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  nav img{
    height: 50px;
  }
  nav li{
    height: 50px;
    padding-top: 20px;
  }
  nav a{
    height: 10%;
    padding: 0 30px;
    text-decoration: none;
    display: flex;
    font-size: 15px;
    justify-content: center;
    align-items: center;
    color: black;
  }
  nav button{
    text-decoration: none;
    margin: 70px;
    background-color: #6b06ee;
    border-radius: 10px;
    
    border:none;
  }
  button a{
    color:white;
    font-size: 20px;
    padding: 10px;
  }
  nav li:hover{
    background-color: #f0f0f0;
  }
  nav li:first-child{
    margin-right: auto;
  }
  .sidebar{
    position: fixed;
    top: 0; 
    right: 0;
    height: 100vh;
    width: 250px;
    background-color:var(--second-color);
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
    list-style: none;
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .sidebar li{
    width: 100%;
  }
  .hideOnMobile li a p:hover{
background-color: #b45582;
color: #999;
  }
  .sidebar a{
    width: 100%;
    font-size: 15px;
  }
  .unhide:hover{
    background-color: #e0afc7;
  }
  .menu-button{
    display: none;
  }
  @media(max-width: 800px){
    .hideOnMobile{
      display: none;
    }
    .menu-button{
      display: block;
    }
  }
  @media(max-width: 400px){
    .sidebar{
      width: 100%;
    }
  }

.wrapper {
  width: 400px;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  z-index: -1;
}
.container {
  width: 100%;
  background-color: #8b35f4;
  padding: 50px 40px;
  box-shadow: 0 20px 65px rgba(87, 11, 16, 0.5);
  position: relative;
  border-radius: 8px;
  text-align: center;
}

.container p {
  color: #ffffff;
  line-height: 2;
  font-size: 18px;
}
.container h3 {
  color: #ffffff;
  margin: 20px 0 60px 0;
  font-weight: 600;
  text-transform: capitalize;
}
.container button {
  background-color: #ffffff;
  border: none;
  padding: 15px 45px;
  border-radius: 5px;
  font-size: 18px;
  font-weight: 600;
  color: #8b35f4;
  cursor: pointer;
}
h2{
  color: #0d021c;
  padding: 10px;
  z-index: -1;
  background-color: #f0f0f0;
}